html {
    background-color: #FED49E;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

/* BUTTON */
button {
    background-color: #00E800;
    width: 8vw;
    height: 12vw;
    margin: 2%;
    border-radius: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2.25vw;
/*    filter: 150;*/
/*    display: table-cell;
    vertical-align: middle;*/

}

    button img {
        float: left;
        margin-left: -0.65vw;
        width: 8vw;
        height: 8vw;
    }

#container {
/*    background: #bee1ff;*/
    display: block;
    height: 100vh;
    padding-left:5vw;
}

/* Custom sidebar CSS to make it smaller */
.sidenav {
    min-width: 1em;
    width: 5vw;
}
.sidenav img {
    width: 5vw;
    height: 5vw;
}

/* TAB */
.tab { 
    width: 65%;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 8vw;
    background-color: #FED49E;
}

    .tab:after {
        content: "";
        clear: both;
        display: table;
    }

/* WORD SELECTION LIST*/
.wordLists {
    display: block;
    background-color: chocolate;
    width: calc(25%);
    height: 1300px;
    float: right;
    overflow: scroll;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    margin-bottom: 1em;
    overflow-x: hidden;
}

.wordsListElement {
    list-style: none;
    width: 40%;
    display: inline-block;
    padding-inline-start: 10;
    margin-left: 20px;
    margin-right: auto;
    margin: 5%;
    min-width: 5.1em;
    vertical-align:top;

}

.friendListElement {

}

.WordItem {
    text-align: center;
    background-color: antiquewhite;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    margin-bottom: 0.5em;
}

    .WordItem h2 {
        margin-bottom: 0;
    }

    .WordItem img {
        width: 5em;
        height: auto;
    }

.images {
    display:none;
}
