html {
    background-color: #70c7d1;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

/* BUTTON */
button {
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    color: black;
    padding-inline-start: 0;
    width: 8vw;
    height: 12vw;
    margin: 2%;
    border-radius: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 2.25vw;
}

    button img {
        float: left;
        margin-left: -0.65vw;
        width: 8vw;
        height: 8vw;
    }

#container {
/*    background: #bee1ff;*/
    display: block;
    height: 100vh;
    padding-left:5vw;
}

/* Custom sidebar CSS to make it smaller */
.sidenav {
    min-width: 1em;
    width: 5vw;
}
.sidenav img {
    width: 5vw;
    height: 5vw;
}

/* TAB */
.tab { 
    width: 65%;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 8vw;
    background-color: #70c7d1;
}

    .tab:after {
        content: "";
        clear: both;
        display: table;
    }

.tablinks img {
    margin-left: auto;
    margin-right: auto;
}
.tablinks {
    padding: 0;
}

/* WORD SELECTION LIST*/
.wordLists {
    display: block;
    background-color: #E58F65;
    border-radius: 25px;
    padding: 1%;
    width: calc(25%);
    height: 1300px;
    float: right;
    overflow: scroll;
    margin-bottom: 1em;
    overflow-x: hidden;
}

.wordsListElement {
    list-style: none;
    background-color: #E58F65;
    border-radius: 25px;
    width: 40%;
    display: inline-block;
    padding-inline-start: 10px;
    margin-left: 10%;
    min-width: 5.1em;
    vertical-align:top;

}

.friendListElement {
    padding: 0;

}

.WordItem {
    text-align: center;
    background-color: antiquewhite;
    line-height: 4em;
    border-radius: 15px;
    margin-bottom: 0.5em;
}

    .WordItem h2 {
        margin-bottom: 0;
    }

    .WordItem img {
        width: 5em;
        height: auto;
    }

.images {
    display:none;
}
