.WordItem img {
    width: 5em;
    height: auto;
}

.wordList {
    background-color: chocolate;
    width: 30%;
    float: right;
    height: 100vh;
    overflow: scroll;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    background-color: antiquewhite;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    width: 30%;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0;
}