html {
    background-color: #fed49e;
}

body {
    overflow: hidden
}

#container {
    display: block;
    height: 100vh;
    padding-left:5vw;
}

#target {
    display: inline-block;
    position: relative;
    z-index: 0;
}

/* Custom sidebar CSS to make it smaller */
.sidenav {
    min-width: 1em;
    width: 5vw;
}
.sidenav img {
    width: 5vw;
    height: 5vw;
}

/* WORD SELECTION LIST*/
.wordLists {
    display: inline-block;
    background-color: #E58F65;
    width: calc(100% - 960px);
    height: 653px;
    float: right;
    overflow: scroll;
    /* border: 0.25em solid; */
    border-radius: 1em;
    /* border-color: #258EA6; */
    margin-bottom: 1em;
    z-index: 1;
}

.wordsListElement {
    list-style: none;
    width: 40%;
    display: inline-block;
    padding-inline-start: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
    min-width: 5.1em;
    vertical-align:top;

}

.masteredWordsListElement {

}

.unmasteredWordsListElement {
    filter: grayscale(100%);
}

.WordItem {
    text-align: center;
    background-color: antiquewhite;
    border: 0.25em;
    border-radius: 1em;
    /* border-color: #258EA6; */
    margin-bottom: 0.5em;
}

    .WordItem h2 {
        margin-bottom: 0;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    .WordItem img {
        width: 5em;
        height: auto;
    }

.images {
    display:none;
}