/*
.wordLists {
    background-color: chocolate;
    width: 30%;
    float: right;
    height: 100vh;
    overflow: scroll;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    margin-bottom: 1em;
}

.wordsListElement {
    list-style: none;
    width: 40%;
    display: inline-block;
    padding-inline-start: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
    min-width: 5.1em;
    vertical-align:top;
    
}

.masteredWordsListElement {

}

.unmasteredWordsListElement {
    filter: grayscale(100%);
}

.WordItem {
    text-align: center;
    background-color: antiquewhite;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    margin-bottom: 0.5em;
}

    .WordItem h2 {
        margin-bottom: 0;
    }

    .WordItem img {
        width: 5em;
        height: auto;
    }*/
