/* CSS for costum cursor - IMPORT ON ALL HTML PAGES */

/* Set Costum Cursor Image */
html {
	cursor: url('../../assets/cursor_art/c.png'), default;
}

/* Costum cursor image when hovering over clicable item */
.clickable:hover {
    transform: scale(1.1) perspective(1px);
    cursor: url('../../assets/cursor_art/cclick.png'), default;
}

.clickableCanvas:hover {
    cursor: url('../../assets/cursor_art/cclick.png'), default;
}