.column {
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: aliceblue; */
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body{
    margin-left: 10vw;
    background-color: #fed49e;
}
h1{
    text-align: center;
}
.WordItem img {
    width: 10vw;
    height: auto;
    background-color: transparent;
    /* height: 10vw;
    width: 10vw; */
}

.wordList {
    /* background-color: chocolate; */
    width: 100%;
    float: left;
    height: 100vh;
    overflow: scroll;
    border: 0.25em solid;
    border-radius: 1em;
    /* border-color: burlywood; */
}

ul {
    list-style: none;
}
/* 
li {
    text-align: center;
    background-color: antiquewhite;
    border: 0.25em solid;
    border-radius: 1em;
    border-color: burlywood;
    width: 10px;
    margin-bottom: 0.5em;
} */
button {
    background-color: #7DAF9C;
    border-radius: 25px;
}