.column {
    float: left;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body{
    margin-left: 10vw;
}
h1{
    text-align: center;
}